4.1. if Statements

In [1]:
x = int(input("Please enter an integer: "))

Please enter an integer:  42

In [2]:
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

More

4.2. for Statements

In [3]:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

In [5]:
# Create a sample collection
users = {'Hans': 'active', 'Éléonore': 'inactive', '景太郎': 'active'}

# Strategy:  Iterate over a copy
for user, status in users.copy().items():
    if status == 'inactive':
        del users[user]

# Strategy:  Create a new collection
active_users = {}
for user, status in users.items():
    if status == 'active':
        active_users[user] = status

print(users)
print(active_users)

{'Hans': 'active', '景太郎': 'active'}
{'Hans': 'active', '景太郎': 'active'}

4.3. The range() Function

In [6]:
for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [8]:
list (range (0, 10, 3))

[0, 3, 6, 9]

In [11]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for words in range(len(a)):
    print(words, a[words])

0 Mary
1 had
2 a
3 little
4 lamb

In [12]:
range (10)

range(0, 10)

In [13]:
sum(range (4) )

6

4.4. break and continue Statements

In [15]:
for n in range(2,10):
    for x in range(2,n):
        if n % x == 0:
            print(f"{n} equals {x} * {n//x}")
            break

4 equals 2 * 2
6 equals 2 * 3
8 equals 2 * 4
9 equals 3 * 3

In [1]:
for num in range(2,10):
    if num % 2 == 0:
        print(f"{num} is even")
        continue
    print(f"{num} is odd")

2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd

4.5. else Clauses on Loops

In [2]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

4.6. pass Statements

In [ ]:
while True:
    pass  # Busy-wait for keyboard interrupt (Ctrl+C)

4.7. match Statements

In [3]:
def number_check(x):
    match x:
        case 10 | 20 | 30:
            print(f"{x} is a multiple of 10")
        case _:
            print("No match")

number_check(20)  # Output: 20 is a multiple of 10
number_check(15)  # Output: No match

20 is a multiple of 10
No match

In [8]:
point = (-3, 0)

match point:
    case (0, 0):
        print("Origin")
    case (0, y):
        print(f"Y={y}")
    case (x, 0):
        print(f"X={x}")
    case (x, y):
        print(f"X={x}, Y={y}")
    case _:
        raise ValueError("Not a point")

X=-3

In [9]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

def where_is(point):
    match point:
        case Point(x=0, y=0):
            print("Origin")
        case Point(x=0, y=y):
            print(f"Y={y}")
        case Point(x=x, y=0):
            print(f"X={x}")
        case Point():
            print("Somewhere else")
        case _:
            print("Not a point")

In [15]:
X = Point(0, 0)
where_is(X)

Origin

In [16]:
match point:
    case Point(x, y) if x == y:
        print(f"Y=X at {x}")
    case Point(x, y):
        print(f"Not on the diagonal")